:root {
    --content-max-width: 800px;
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body {
    padding: 0;
    margin: 0;
}

.background {
    box-shadow: 0 0 1000px 600px hsla(0, 0%, 0%, .08);
}

#last-save {
    position: absolute;
    top: 15px;
    left: 25px;
    font-style: italic;
    color: #888;
}

#last-save:empty,
#file-list:empty {
    display: none;
}

main {
    padding: 0 50px;
    max-width: var(--content-max-width);
    display: flex;
    flex: 1;
    flex-direction: column;
    min-height: 1000px;
    margin: 25px auto 100px;
}

.paper {
    position: relative;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0, 0, 0, .2), inset 0 0 100px rgba(0, 0, 0, .05);
}

.paper:before, .paper:after
{
	position: absolute;
	width: 40%;
	height: 10px;
	content: ' ';
	left: 12px;
	bottom: 14px;
	background: transparent;
	transform: skew(-5deg) rotate(-5deg);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .3);
	z-index: -1;
}

.paper:after
{
	left: auto;
	right: 12px;
	transform: skew(5deg) rotate(5deg);
}

h1 {
    text-align: center;
    font-family: 'Great Vibes', cursive;
    margin: 10px 0;
    font-size: 60px;
}

textarea {
    background: transparent;
    outline: none;
    border: none;
    padding: 10px 15px;
    min-width: 100%;
    min-height: 150px;
    resize: vertical;
    font-size: 20px;
    letter-spacing: .6px;
    font-family: 'Crimson Text', serif;
}

.unselectable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

@media screen and (max-width: 800px) {
    textarea {
        height: calc(100vh - 99px);
    }

    main {
        margin: 0;
    }
}
